<h4>Add a flashcard below:</h4>

<form action="/add_card" method="post">
  <label for="name">Question:</label>
  <input id="name" name="name" type="text">
  <label for="definition">Definition:</label>
  <input id="definition" name="definition" type="text">

  <button type="submit">Submit</button>

</form>
