<h2>I thought you knew these already...</h2>

<% if @flashcards.any? %>
  <ul>
    <% @flashcards.each do |f| %>
      <li><%= f.name %> : <%= f.definition %></li>
      <br>
    <% end %>
  </ul>
<% else %>
  <p>You don't know any terms yet! Hahahahah</p>
<% end %>
<br>
