<h2>I thought you knew these already...</h2>
<p>--------------</p>

<% if @flashcards.any? %>
  <ul>
    <% @flashcards.each do |f| %>
      <h3><%= f.name %></h3>
      <p><%= f.definition %></p>
      <br>
    <% end %>
  </ul>
<% else %>
  <p>You don't know any terms yet! Hahahahah</p>
<% end %>
<br>
