<!DOCTYPE html>
<html>
  <head>
    <title>Epicodus Flashcards</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <header>
      <h1>Ruby, JavaScript, and Rails Flashcards</h1>
    </header>
    <div class="container">
      <%= yield %>
      <br><br><br><br><br>
      <footer>
        <br>
        <button class="btn"><a href="/">Home</a></button>
        <button class="btn"><a href="/flashcard">Start Studying</a></button>
        <button class="btn"><a href="/correct">View Correct Flashcards</a></button>
        <button class="btn"><a href="/add_card">Add a Flashcard</a></button>
        <button class="btn"><a href="/quiz">Quiz Yourself</a></button>
      </footer>
    </div>
  </body>
</html>
