
<h2><%= @flashcard.name %></h2>


  <form action="/quiz" method="post">
    <% @choices.each() do |choice| %>
    <div class="radio">
      <label><input type="radio" name="answer" value="<%= choice %>"><%= choice %></label>
    </div>
    <% end %>
      <br><br><br>
      <button type="submit">Submit</button>
    </form>
